@charset 'utf-8';
#board_create{ text-align:right; padding:15px 5px 0px 5px;}
#board_main{background:url(../../static/image/tt2bg.png); border-radius:5px; margin-top:5px; min-height:460px;  overflow:auto;}
#board_main .list,.list_dash{width:200px; background:#E3E3E3; margin-left:10px; margin-top:10px!important; border-top:1px solid #fff; border-bottom:1px solid #404040; border-radius:3px; margin-top:20px; max-height:412px; padding:10px;}
#board_main .list h5{ margin:0px; width:160px;}
#board_main .list .card_list{ max-height:360px;  overflow:auto;}
#board_main .list .card{background-color:#fff;border:1px solid #b9b9b9;border-bottom-color:#939393; border-radius:3px; padding:3px; margin-top:3px; cursor:-moz-grab;cursor:-webkit-grab;cursor:grab;   min-height:22px;}
#board_main .list .card span{word-wrap:break-word; word-break:break-all;}
#board_main .list .card i{ color:#aaa; cursor:pointer; float:right; visibility:hidden;}
#board_main .list .card:hover{border-color:#1F6993; box-shadow:0 0 4px #1F6993;}
#board_main .list .add_card{ margin-top:10px; -webkit-user-select:none; -moz-user-select:none; user-select:none;}
#board_main .list .add_card .side_link{ margin-left:0px;}
#create_list{ font-size:20px; color:#fff; text-align:center; padding-top:200px;}
#create_list a{ color:#eee; text-decoration:underline;}
.board_create_btn{ position:relative; top:-5px;}
.board_top_ctrl{ color:#aaa!important; display:none; font-size:14px!important;}
.board_top_ctrl:hover{ text-decoration:none;}
.list_head{ height:22px; cursor:-moz-grab;cursor:-webkit-grab;cursor:grab}
.list_head a.list_remove{ color:#aaa; display:none;}
.list_edit_head{ display:none;}
.list_edit_head .list_edit_input{ width:90px;}
.list_draging,.card_draging{ position:absolute; -moz-transform:rotate(2deg);-webkit-transform:rotate(2deg); transform:rotate(2deg); box-shadow:-2px 5px 10px #333;}
.list_dash{background:#000; border:none;}
.card_dash{ background:#c3c3c3!important; border:none!important;}
.card_done span{ text-decoration:line-through; color:#969696;}
.card_doing span:after{ background:url('./checklist.doing.gif') no-repeat;  width:16px; height:11px; margin-left:5px; display:inline-block; content:'';}
.dash_delete{ background:#cb4d4d!important; color:#fff;}
.dash_delete:after{content:'TODO将从看板移除';}
#at-view { z-index:2000!important;}
#todo_batch_add_input{ height:150px;}
#todo_status_pop ul{ min-width:90px;}
.fullscreen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  margin: 0;
  padding: 0;
  background: inherit;
}
.fullscreen-ctrol{text-align:right; padding:10px;}
#board_small_size{ position:absolute; z-index:1041;}
