<form method="POST" action="?c=plugin&a=board_todo_insert">
	<textarea placeholder="每行一个TODO，用@点名指派给人，未指定的给自己,如：更新TeamToy官网demo @Easy" id="todo_batch_add_input" name="todos" class="span5"></textarea><br />
	<input type="hidden" name="board_id" value="<?=intval(v('board_id'))?>" />
	<input type="hidden" name="list_id" value="<?=intval(v('list_id'))?>" />
	<input class="button" type="submit" value="添加" />
	<br />
	<br />
	<?php 
	if('private'==v('visible')) echo '(注：这个是一个私有看板，默认添加的TODO为私有todo，如果在TODO的末尾加上井号"#"也会作为公有TODO发布）';		
	?>
</form>
